.imgCarrito {
    width: 2.5rem;
}
.cantCarrito{
    background-color: rgb(161, 159, 159);
    color: aliceblue;
    border-radius: 20rem;
    text-align: center;
}
.login{
    width:2.5rem;
    border-radius: 20rem;
    background-color: rgb(243, 243, 243);
    
    

}
.loginCart{
    display: flex;
    flex-direction: row;
    align-items: center;
   
    
}
.conjunto{
    margin: 1rem;
}
.ingresar{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
    color: gray;
    font-size: small;
   
}