
 .titLog{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   color:grey ;
    border-radius: 1rem;
    font-size: small;
 
 
 }